@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*, ::after, ::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, pre, samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

@font-face {
  font-family: "Barlow";
  src: url(../fonts/Barlow-Light.woff2) format("woff2"), url(../fonts/Barlow-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url(../fonts/Barlow-Regular.woff2) format("woff2"), url(../fonts/Barlows-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.jq-selectbox li, .jq-selectbox__select, .irs-min::before,
.irs-max::before, .irs--flat .irs-min,
.irs--flat .irs-max, .aside__form-select, .catalog__pagination-item {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "SFProDisplay";
  src: url(../fonts/SFProDisplay-Regular.woff2) format("woff2"), url(../fonts/SFProDisplays-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.filter-style.select-item, .title-h5 {
  font-family: "SFProDisplay", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNova-regular.woff2) format("woff2"), url(../fonts/ProximaNova-regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url(../fonts/SFProDisplay-regular.woff2) format("woff2"), url(../fonts/SFProDisplays-regular.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url(../fonts/Barlow-SemiBold.woff2) format("woff2"), url(../fonts/Barlow-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url(../fonts/SFProDisplay-SemiBold.woff2) format("woff2"), url(../fonts/SFProDisplay-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url(../fonts/Barlow-Bold.woff2) format("woff2"), url(../fonts/Barlow-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.price, .title-h3, .title-h2, .sale-item__bottom-data {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
}

@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNova-Bold.woff2) format("woff2"), url(../fonts/ProximaNova-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.sale-item__action {
  font-family: "ProximaNova", sans-serif;
  font-weight: 700;
}

@font-face {
  font-family: "SFProDisplay";
  src: url(../fonts/SFProDisplay-Bold.woff2) format("woff2"), url(../fonts/SFProDisplay-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.title-h4 {
  font-family: "SFProDisplay", sans-serif;
  font-weight: 700;
}

:root {
  --accent: #1C62CD;
  --background: #F0F0F4;
  --main-text: #2F3035;
  --white: #FFFFFF;
  --gray: #C4C4C4;
  --border: #CDCDCD;
  --black: #000000;
  --abbey: #48494D;
  --alto: #E0E0E0;
  --gray1: #BDBEC2;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
}

ul[class] {
  list-style: none;
}

picture,
img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  font-family: "SFProDisplay", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
  color: var(--main-text);
  overflow-x: hidden;
  min-width: 100vw;
}

button {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

::marker {
  margin-top: 10px;
  font-size: 0;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

.main {
  overflow-x: clip;
}

.section {
  padding-top: 80px;
}
@media screen and (max-width: 1200px) {
  .section {
    padding-top: calc(25px + 55 * (100vw - 320px) / 880);
  }
}

@media screen and (width < 720.01px) {
  .mobile-overflow {
    width: 62.5rem;
  }
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7.625rem;
  color: var(--main-text);
  font-weight: 700;
}
.header__top-menu-list {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 1200px) {
  .header__top-menu-list {
    gap: calc(15px + 35 * (100vw - 320px) / 880);
  }
}
.header__top-menu-link {
  text-align: center;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .header__top-menu-link:hover {
    color: var(--accent);
  }
}
.header__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__location {
  margin-right: 60px;
  max-width: 16.5625rem;
  padding-left: 1.875rem;
  position: relative;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1200px) {
  .header__location {
    margin-right: calc(20px + 40 * (100vw - 600px) / 600);
  }
}
.header__location::before {
  position: absolute;
  content: url(../images/location.svg);
  width: 1.875rem;
  height: 1.875rem;
  top: -0.625rem;
  left: 0;
}
.header__user-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
}
.header__user-link {
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__user-link--basket {
  position: relative;
  margin-right: 0.5625rem;
}
.header__user-link--basket span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  content: "";
  bottom: -0.125rem;
  right: -0.875rem;
  color: var(--white);
  font-size: 0.625rem;
  font-weight: 500;
  background-color: var(--accent);
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
}
.header__bottom-menu-list {
  background-color: var(--background);
  text-transform: capitalize;
  justify-content: space-around;
  display: flex;
  align-items: center;
  min-height: 3.3125rem;
}
.header__bottom-menu-item {
  position: relative;
}
.header__bottom-menu-link {
  position: relative;
  padding: 0.9375rem 0 0.875rem;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .header__bottom-menu-link:hover {
    color: #000;
  }
  .header__bottom-menu-link:hover::after {
    width: 100%;
    right: auto;
    left: 0;
  }
}
.header__bottom-menu-link::after {
  position: absolute;
  content: "";
  width: 0;
  left: auto;
  right: 0;
  background-color: var(--accent);
  height: 0.1875rem;
  bottom: -0.125rem;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (width < 980.01px) {
  .header__bottom-menu-list {
    display: none;
  }
}
@media screen and (width < 600.01px) {
  .header__location {
    display: none;
  }
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  gap: 36px;
}
@media screen and (max-width: 1200px) {
  .hero__inner {
    gap: calc(43px + -7 * (100vw - 320px) / 880);
  }
}
.hero__slider {
  max-width: 54.375rem;
  position: relative;
}
.hero__slider-img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 25rem;
}
.hero__slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__slider-arrow-next {
  right: 1.25rem;
}
.hero__slider-arrow-prev {
  left: 1.25rem;
}
@media (any-hover: hover) {
  .hero__slider-arrow:hover {
    color: var(--accent);
  }
}
@media screen and (width < 1160.01px) {
  .hero__inner {
    justify-content: space-around;
  }
  .hero__slider {
    max-width: 37.5rem;
  }
  .hero__slider-img {
    max-width: 37.5rem;
  }
  .hero__item {
    max-height: 25rem;
  }
}
@media screen and (width < 880.01px) {
  .hero__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero__slider {
    max-width: 100%;
  }
  .hero__slider-img {
    max-width: 100%;
  }
}
@media screen and (width < 600.01px) {
  .hero__slider-img {
    min-height: 12.5rem;
  }
  .hero .container {
    padding: 0;
  }
}
@media screen and (width < 440.01px) {
  .hero__slider-img {
    min-height: 10.25rem;
  }
}

.slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}
.slick-dots button {
  font-size: 0;
  width: 0.6875rem;
  height: 0.6875rem;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--white);
}

.hero__slider .slick-dots {
  bottom: 3.75rem;
  gap: 0.5625rem;
}
@media screen and (width < 440.01px) {
  .hero__slider .slick-dots {
    bottom: 1.75rem;
  }
}

ul > .slick-active button {
  background-color: var(--white);
}

.sale-item {
  max-width: 16.5625rem;
  text-align: center;
  border-radius: 0.1875rem;
  border: 1px solid var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sale-item__top {
  font-family: Barlow;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.sale-item__action {
  display: inline-block;
  color: var(--white);
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--accent);
  padding: 0.5rem 1.25rem;
}
.sale-item__price {
  text-align: right;
}
.sale-item__price-new {
  color: var(--accent);
  font-weight: 700;
  font-size: 1.6875rem;
  margin-right: 0.375rem;
  margin-bottom: 0.4375rem;
}
.sale-item__price-new-svg {
  fill: var(--accent);
}
.sale-item__price-old {
  margin-right: 0.25rem;
  color: var(--gray);
  font-size: 0.875rem;
  font-weight: 400;
  background-image: url(../images/old-line.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  padding: 0.125rem 0.3125rem;
}
.sale-item__price-old-svg {
  fill: var(--gray);
}
.sale-item__img {
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}
.sale-item__title {
  margin-bottom: 0.4375rem;
}
.sale-item__bottom {
  background-color: var(--background);
  padding: 1.5625rem 1.25rem;
  font-size: 1.125rem;
}
.sale-item__bottom-data {
  color: var(--accent);
}

.title {
  font-size: 1.875rem;
  font-weight: 700;
  color: var(--main-text);
  margin-bottom: 0.625rem;
}
@media screen and (width < 1054.01px) {
  .title {
    font-size: 20px;
    margin-bottom: 2.5rem;
  }
}

.title-h2 {
  color: var(--main-text);
  font-size: 1.5625rem;
  margin-bottom: 1.5625rem;
}
@media screen and (width < 690.01px) {
  .title-h2 {
    text-align: center;
  }
}

.title-h3 {
  color: var(--main-text);
  font-size: 1.4375rem;
}

.title-h3 {
  color: var(--main-text);
  font-size: 1.4375rem;
}

.title-h4 {
  color: var(--main-text);
  font-size: 1.125rem;
}

.title-h5 {
  color: var(--main-text);
  font-size: 1.125rem;
  text-align: center;
}

.title-h6 {
  font-size: 0.875rem;
  text-align: left;
}
@media screen and (min-width: 804.01px) {
  .title-h6 {
    margin-bottom: 0.375rem;
  }
}

.title-form {
  font-size: 1rem;
  font-weight: 600;
  padding-left: 1.625rem;
  position: relative;
}
.title-form::before {
  position: absolute;
  content: url(../images/drop-arrow.svg);
  width: 0.75rem;
  height: 0.5rem;
  left: 0rem;
  cursor: pointer;
}
.title-form--active::before {
  bottom: 0;
  transform: rotate(180deg);
}

.title-list {
  padding-bottom: 0.875rem;
  font-size: 1rem;
  font-weight: 600;
  padding-left: 1.625rem;
  position: relative;
}

.price {
  color: var(--main-text);
  text-align: center;
  font-size: 1.875rem;
}

.search__tabs {
  margin-bottom: 1.5625rem;
}
.search__tabs-link {
  display: inline-block;
}
.search__tabs-link.tabs__link {
  font-size: 1.25rem;
  padding: 0.6875rem 1.625rem 0.75rem;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .search__tabs-link.tabs__link:hover {
    color: var(--accent);
  }
}
.search__tabs-link.tabs__link--active.tabs__link {
  border-radius: 0.3125rem;
  background-color: var(--background);
  font-weight: 700;
}
.search__content-form {
  display: flex;
}
.search__content-input {
  padding: 0.9375rem 1.25rem;
  max-width: 64.0625rem;
  width: 100%;
  border-radius: 3px;
  background: var(--background);
  border: none;
  font-size: 1rem;
}
.search__content-input::-moz-placeholder {
  color: #656464;
}
.search__content-input::placeholder {
  color: #656464;
}
.search__content-btn {
  padding: 1.0625rem 2.5rem 1rem;
  margin-left: -0.1875rem;
  color: var(--white);
  background-color: var(--accent);
  border-radius: 3px;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.105rem;
  text-transform: uppercase;
}
@media screen and (width < 980.01px) {
  .search .search__tabs-link.tabs__link--active.tabs__link {
    font-weight: 600;
    background-color: var(--white);
  }
}
@media screen and (width < 600.01px) {
  .search__content-form {
    position: relative;
  }
  .search__content-input {
    padding-right: 3.125rem;
  }
  .search__content-btn {
    position: absolute;
    font-size: 0;
    line-height: 0;
    padding: 0.8125rem;
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    height: 1.5rem;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
  }
}

.category__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.875rem;
}
.category__item {
  flex-basis: calc((100% - 60px) / 3);
  width: 100%;
  border-radius: 0.1875rem;
  border: 1px solid #CDCDCD;
  background-color: var(--white);
  padding: 0.4375rem 1.25rem 1rem;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .category__item:hover {
    box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.25);
    border: 1px solid #fff;
  }
  .category__item:hover .category__title {
    color: var(--accent);
  }
}
.category__link {
  display: flex;
  justify-content: space-between;
  height: 6.625rem;
}
.category__inner {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.category__title {
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.category__btn {
  color: var(--gray);
  font-size: 0.875rem;
}
.category__btn::after {
  margin-left: 0.5rem;
  content: url(../images/category-arrow.svg);
}
.category__img {
  text-align: center;
  width: 50%;
}
@media screen and (width < 1024.01px) {
  .category__list {
    justify-content: space-around;
  }
  .category__link {
    gap: 1.875rem;
  }
  .category__item {
    flex-basis: 18rem;
  }
}
@media screen and (width < 440.01px) {
  .category__item {
    padding: 0.4375rem 0.625rem 1rem;
  }
}

.products {
  padding-bottom: 5rem;
}
.products .container {
  max-width: 77.5625rem;
}
.products__inner {
  margin: 0 auto;
}
.products__slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.products__slider-arrow-next {
  right: -1.125rem;
}
.products__slider-arrow-prev {
  left: -1.125rem;
}
@media (any-hover: hover) {
  .products__slider-arrow:hover {
    color: var(--accent);
  }
}
.products__tabs {
  margin-bottom: 25px;
}
@media screen and (max-width: 1200px) {
  .products__tabs {
    margin-bottom: calc(20px + 5 * (100vw - 320px) / 880);
  }
}
.products__tabs-link {
  display: inline-block;
  margin-right: 3.125rem;
}
.products__tabs-link.tabs__link--active.tabs__link {
  border-bottom: 0.125rem solid var(--accent);
  font-weight: 500;
}
.products__tabs-link.tabs__link {
  font-weight: 400;
}
.products__card {
  border-radius: 0.1875rem;
  border: 0.0625rem solid var(--border);
  text-align: center;
  padding: 3.25rem 1.25rem 1.9375rem;
  width: 16.9375rem;
  height: 25.1875rem;
  position: relative;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 0.9375rem;
  margin-left: 0.9375rem;
}
.products__card:hover {
  box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.25);
}
.products__card:hover.products__card-not-available .products__card-title {
  color: var(--main-text);
}
.products__card-favorite {
  position: absolute;
  top: 1rem;
  right: 1.1875rem;
  width: 1.5rem;
  height: 1.375rem;
  z-index: 5;
}
.products__card-favorite::before {
  position: absolute;
  content: url(../images/favorite.svg);
  width: 1.5rem;
  height: 1.375rem;
  top: 0;
  left: 0;
}
.products__card-favorite--active::before {
  content: url(../images/favorite-active.svg);
}
.products__card-basket {
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  width: 3.75rem;
  height: 2.5rem;
  background-color: var(--accent);
  border-radius: 10px 0px 0px 0px;
  z-index: 5;
}
.products__card-basket::before {
  position: absolute;
  content: url(../images/basket-white.svg);
  width: 1.875rem;
  height: 1.40625rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.products__card-link:hover .products__card-hover {
  opacity: 1;
}
.products__card-link:hover .products__card-title {
  color: var(--accent);
}
.products__card-link:hover .products__card-price {
  color: var(--accent);
}
.products__card-link--sale::before {
  position: absolute;
  content: "SALE";
  padding: 0.5rem 0.9375rem;
  color: var(--white);
  background-color: var(--accent);
  top: 0;
  left: 0;
  font-size: 0.75rem;
  line-height: 1.17;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.products__card-img {
  margin: 0 auto 0.875rem auto;
}
.products__card-title {
  padding: 0.875rem 0 1.5625rem;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.products__card-price {
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.products__card-hover {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 14.375rem;
  opacity: 0;
  padding: 1.125rem 1.3125rem;
  border-radius: 0.1875rem;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 0.9375rem 0 rgba(0, 0, 0, 0.2);
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.products__card-notify {
  display: none;
  padding-bottom: 1.25rem;
  font-size: 1.125rem;
  font-weight: 700;
}
.products__card-notify-link {
  position: absolute;
  bottom: 1.5625rem;
  display: none;
  font-size: 1rem;
  color: var(--accent);
  left: 0;
  right: 0;
}
.products__card-notify-link span {
  border-bottom: 1px solid var(--accent);
}
.products__card--line {
  width: 100%;
}
.products__link-more {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9375rem;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  background-color: var(--background);
  width: 15.75rem;
  height: 3.125rem;
  padding: 0.625rem;
  margin: 2.1875rem auto 0rem auto;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .products__link-more:hover {
    background-color: var(--accent);
    color: var(--white);
  }
}
@media screen and (width < 1240.01px) {
  .products__link-more {
    margin-top: 3.75rem;
  }
}

.products__card.products__card-not-available .products__card-price {
  display: none;
}

.products__card.products__card-not-available .products__card-title {
  padding-bottom: 0.4375rem;
}

.products__card.products__card-not-available .products__card-notify {
  display: block;
}

.products__card.products__card-not-available .products__card-notify-link {
  display: inline-block;
}

.products__card.products__card-not-available .products__card-basket {
  display: none;
}

@media screen and (width < 1240.01px) {
  .products__slider .slick-dots {
    bottom: -0.625rem;
    gap: 1.25rem;
  }
  .products__slider .slick-dots button {
    font-size: 0;
    width: 0.875rem;
    height: 0.875rem;
    background-color: var(--gray);
    border-radius: 50%;
    border: none;
  }
  .products__slider.slick-slider .slick-track,
  .slick-slider .slick-list {
    padding-bottom: 20px;
  }
  .products__slider .slick-dots .slick-active button {
    background-color: var(--accent);
  }
  .products__slider.slick-dots button {
    bottom: -1.25rem;
  }
}
@media screen and (width < 440.01px) {
  .products__slider .slick-dots {
    bottom: -2.5rem;
  }
  .products__slider.slick-slider .slick-track,
  .slick-slider .slick-list {
    padding-bottom: 0;
  }
}
.banner__img {
  width: 100%;
}

.tabs {
  display: inline-block;
  margin-right: 3.125rem;
}
.tabs__overflow {
  overflow-x: scroll;
}
.tabs__content-item {
  display: none;
}
.tabs__content-item.tabs__content--active {
  display: block;
}
.tabs__link {
  position: relative;
  color: var(--main-text);
  text-align: center;
  font-size: 0.9375rem;
  font-weight: 500;
  padding-bottom: 0.3125rem;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (any-hover: hover) {
  .tabs__link:hover {
    color: var(--accent);
  }
}

.search__content-item.tabs__content--active {
  display: block;
}

.social {
  align-self: center;
}
.social-list {
  display: flex;
  gap: 1.875rem;
}
@media screen and (width < 980.01px) {
  .social {
    align-items: center;
  }
  .social--margin {
    margin-top: 2.5rem;
  }
}

.footer {
  background-color: var(--background);
  padding-top: 42px;
  padding-bottom: 42px;
}
@media screen and (max-width: 1200px) {
  .footer {
    padding-top: calc(17px + 25 * (100vw - 320px) / 880);
  }
}
@media screen and (max-width: 1200px) {
  .footer {
    padding-bottom: calc(62px + -20 * (100vw - 320px) / 880);
  }
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 46px;
  gap: 0.625rem;
}
@media screen and (max-width: 1200px) {
  .footer__top {
    margin-bottom: calc(80px + -34 * (100vw - 320px) / 880);
  }
}
.footer__form-inner {
  max-width: 294px;
}
@media screen and (max-width: 1200px) {
  .footer__form-inner {
    max-width: calc(600px + -306 * (100vw - 320px) / 880);
  }
}
@media screen and (min-width: 804.01px) {
  .footer__form-inner {
    margin-right: 59px;
  }
}
.footer__form-text {
  max-width: 13.875rem;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}
.footer__form-mail {
  display: flex;
}
.footer__form-mail-input {
  background-color: var(--white);
  max-width: 11.625rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  border: none;
}
.footer__form-mail-input ::-moz-placeholder {
  color: var(--gray);
}
.footer__form-mail-input ::placeholder {
  color: var(--gray);
}
.footer__form-mail-button {
  max-width: 6.8125rem;
  padding: 0.625rem 1rem;
  text-align: center;
  font-size: 0.6875rem;
  font-weight: 600;
  letter-spacing: 0.0825rem;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--accent);
}
.footer__info {
  width: 12.5rem;
}
.footer__info-item:not(:last-child) {
  margin-bottom: 0.375rem;
}
.footer__info-link {
  font-size: 14px;
}
.footer__bottom {
  display: flex;
  justify-content: center;
  gap: 0 5rem;
}
.footer__bottom-link {
  color: #48494D;
  font-size: 0.625rem;
}
.footer__top-title {
  pointer-events: none;
}
@media screen and (width < 980.01px) {
  .footer__top {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (width < 804.01px) {
  .footer__top {
    flex-direction: column;
    gap: 0;
  }
  .footer__form-inner {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 2.5rem;
  }
  .footer__form-text {
    margin: 0 auto 1.25rem auto;
  }
  .footer__form-mail-input {
    max-width: 100%;
    width: 100%;
  }
  .footer__info {
    border-top: 2px solid #F9F9FC;
    border-bottom: 2px solid #F9F9FC;
    width: 100%;
    margin: 0;
  }
  .footer__info--nobottom {
    border-bottom: none;
  }
  .footer__top-title {
    padding: 0.9375rem 0;
    font-weight: 500;
    line-height: 1.125rem;
    color: #7F7F7F;
    letter-spacing: -0.005375rem;
    position: relative;
    pointer-events: none;
    pointer-events: all;
  }
  .footer__top-title::after {
    position: absolute;
    content: url(../images/arrow-footer.svg);
    width: 0.375rem;
    height: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    right: 0.8125rem;
    transition-duration: 450ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__top-title--active::after {
    transform: rotate(180deg);
    right: 0.40625rem;
  }
  .footer__info-list {
    display: none;
    padding-bottom: 0.9375rem;
  }
  .footer__bottom {
    flex-direction: column;
    gap: 0.75rem;
  }
}

.breadcrumbs {
  margin: 2.5rem 0;
}
.breadcrumbs__item {
  display: inline-block;
  color: var(--gray);
  font-size: 0.9375rem;
  padding-right: 1rem;
  margin-right: 0.625rem;
  position: relative;
}
.breadcrumbs__item::after {
  position: absolute;
  content: "";
  background-image: url(../images/category-arrow.svg);
  width: 0.375rem;
  height: 0.5625rem;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.breadcrumbs__item:last-child::after {
  display: none;
}
@media screen and (width < 980.01px) {
  .breadcrumbs__inner {
    overflow-x: scroll;
  }
}

.catalog {
  padding-bottom: 100px;
}
@media screen and (max-width: 1200px) {
  .catalog {
    padding-bottom: calc(40px + 60 * (100vw - 320px) / 880);
  }
}
.catalog .products {
  display: none;
}
.catalog__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  .catalog__filter {
    margin-bottom: calc(40px + 10 * (100vw - 320px) / 880);
  }
}
.catalog__filter-btn {
  padding: 0.3125rem 1.375rem;
  font-size: 14px;
  opacity: 0.7;
  border-radius: 0.1875rem;
  background-color: var(--background);
}
.catalog__view {
  display: flex;
  align-items: center;
}
.catalog__view-button {
  opacity: 0.3;
}
.catalog__view-button--active {
  opacity: 1;
}
.catalog__view-btngrid {
  width: 1.625rem;
  height: 1.3125rem;
}
.catalog__view-btnline {
  width: 1.5625rem;
  height: 1.1875rem;
}
.catalog__view button + button {
  margin-left: 0.625rem;
}
.catalog__inner {
  display: flex;
}
.catalog__aside {
  min-width: 18.1875rem;
  margin-right: 0.625rem;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.catalog__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.875rem 0.1875rem;
  margin-bottom: 4.375rem;
}
.catalog__list .products__card {
  margin-right: 0;
}
.catalog__filter-item {
  display: inline-block;
  margin-right: 0.5rem;
}
.catalog__pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}
.catalog__pagination-item {
  padding: 0.375rem 0.75rem;
  border: 0.125rem solid transparent;
  color: var(--gray);
  font-size: 1.125rem;
}
.catalog__pagination-item.active {
  border: 0.125rem solid var(--accent);
  color: var(--accent);
}
@media screen and (width < 790.01px) {
  .catalog__inner {
    display: block;
  }
  .catalog__aside {
    display: none;
  }
}
@media screen and (width < 770.01px) {
  .catalog .products {
    display: block;
  }
  .catalog__view {
    gap: 1.25rem;
  }
  .catalog__filter {
    display: block;
  }
}
@media screen and (width < 440.01px) {
  .catalog__filter-inner {
    overflow-x: scroll;
  }
  .catalog__pagination {
    gap: 0.125rem;
  }
}

.filter-style.select-item {
  margin-right: 2.125rem;
  padding: 0.4375rem 0.625rem 0.4375rem 1.25rem;
  font-size: 0.875rem;
  border: 1.5px solid #D7D9DF;
}
@media screen and (width < 770.01px) {
  .filter-style.select-item {
    margin: 0.9375rem 0;
  }
}
@media screen and (width < 440.01px) {
  .filter-style.select-item {
    padding: 0.3125rem;
  }
}

.aside__tabs {
  display: flex;
  justify-content: space-between;
}
.aside__tabs-item {
  width: 50%;
}
.aside__tabs-link {
  color: var(--gray);
  font-size: 1rem;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}
.aside__tabs-link.tabs__link--active {
  color: var(--main-text);
  font-weight: 700;
}
.aside__tabs-link.tabs__link--active span {
  display: inline-block;
  padding-bottom: 0.4375rem;
  border-bottom: 0.125rem solid var(--accent);
}
.aside__form-item-drop {
  margin: 2.5rem 0;
}
.aside__form-item-btn {
  text-align: center;
}
.aside__form-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.625rem;
}
.aside__form-content-box {
  width: 50%;
  margin-bottom: 0.625rem;
}
.aside__form-content-label {
  font-size: 0.875rem;
  cursor: pointer;
}
.aside__form-content.aside__form-content--radio {
  flex-wrap: nowrap;
}
.aside__form-item-list {
  margin: 2.875rem 0 2.5rem;
}
.aside__form-options-item {
  padding-top: 2.125rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 2px solid var(--border);
}
.aside__form-select {
  color: var(--abbey);
  font-size: 0.875rem;
}
.aside__form-filter-more {
  width: 100%;
}
.aside__form-filter-more-btn {
  color: var(--accent);
  font-size: 0.875rem;
  border-bottom: 1px solid var(--accent);
}
.aside__form-search {
  width: 100%;
  margin: 0.625rem 0 1.25rem;
  border: 1px solid var(--alto);
  padding: 0.5rem 1.25rem;
  font-size: 0.75rem;
}
.aside__form-search::-moz-placeholder {
  color: var(--gray1);
}
.aside__form-search::placeholder {
  color: var(--gray1);
}
.aside__form-item-drop-btnchecked .aside__form-content {
  flex-wrap: nowrap;
}
.aside__form-item-drop-btnchecked .aside__form-content-label {
  position: relative;
  width: 3.9375rem;
  height: 1.5625rem;
}
.aside__form-item-drop-btnchecked-text {
  position: absolute;
  top: 25%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: var(--gray);
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.0525rem;
  text-transform: uppercase;
}
.aside__form-filter-btn-send {
  margin-bottom: 0.9375rem;
  padding: 1rem 5.3125rem;
  font-size: 0.9375rem;
  color: var(--gray1);
  background-color: var(--background);
  letter-spacing: 0.1125rem;
  text-align: center;
  text-transform: uppercase;
}
.aside__form-filter-btn-send--active {
  background-color: var(--accent);
  color: var(--white);
}
.aside__form-filter-btn-extra {
  display: inline-block;
  font-size: 0.8125rem;
  cursor: pointer;
  position: relative;
  padding-right: 1.8125rem;
  margin-bottom: 0.9375rem;
}
.aside__form-filter-btn-extra::after {
  position: absolute;
  content: url(../images/drop-arrow.svg);
  width: 0.75rem;
  height: 0.5rem;
  right: 0rem;
  cursor: pointer;
}
.aside__form-filter-btn-extra.title-form--active::after {
  bottom: 0;
  transform: rotate(180deg);
}
.aside__form-filter-btn-extra-content {
  display: none;
}
.aside__form-filter-btn-reset {
  font-size: 0.8125rem;
  color: var(--gray);
  border-bottom: 1px solid var(--gray);
}
.aside__btn {
  display: none;
}
@media screen and (width < 790.01px) {
  .aside {
    width: 20rem;
  }
  .aside__btn {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 0.9375rem 0;
    margin-bottom: 1.875rem;
    cursor: pointer;
    background-color: var(--accent);
    color: var(--white);
    border-radius: 5px;
  }
}
@media screen and (width < 440.01px) {
  .aside__form-list {
    width: 93%;
  }
  .aside__form-item-list {
    width: 96%;
  }
}

.jq-checkbox,
.jq-radio {
  width: 0.875rem;
  height: 0.875rem;
  background: var(--white);
  box-shadow: none;
  border: 0.0625rem solid var(--gray);
  vertical-align: -0.125rem;
  border-radius: 0.0625rem;
  margin: 0 0.5rem 0 0;
}

.jq-checkbox.checked,
.jq-radio.checked {
  background: var(--accent);
  border: none;
}

.jq-checkbox.checked .jq-checkbox__div {
  width: 8px;
  height: 6px;
  margin: 0.25rem 0.1875rem;
  border: none;
  transform: rotate(0);
  background-image: url(../images/check.svg);
}

.jq-radio.checked .jq-radio__div {
  width: 0;
  height: 0;
  margin: 0;
  background: var(--accent);
  border-radius: none;
  box-shadow: none;
}

.irs--flat {
  width: 100%;
  margin-top: -0.9375rem;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  top: 3.75rem;
  padding: 0;
  font-size: 0.875rem;
  color: var(--main-text);
  text-shadow: none;
  background-color: transparent;
  border-radius: 0;
  text-decoration-line: underline;
  visibility: visible !important;
  padding-left: 1.6875rem;
}

.irs-min::before,
.irs-max::before {
  position: absolute;
  font-size: 0.875rem;
  color: var(--gray);
  text-decoration: none;
  left: 0;
}

.irs-min::before {
  content: "от";
}

.irs-max::before {
  content: "до";
}

.irs--flat .irs-line {
  top: 1.5625rem;
  height: 0.0625rem;
  background-color: #E0E0E0;
  border-radius: 0;
}

.irs--flat .irs-bar {
  top: 1.5rem;
  height: 0.1875rem;
  background-color: var(--accent);
}

.irs--flat .irs-handle {
  top: 1.375rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--accent);
  border-radius: 50%;
}

.irs--flat .irs-handle > i:first-child {
  background-color: transparent;
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background-color: transparent;
}

.jq-selectbox__select {
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  border: none;
  text-shadow: none;
  height: 1.25rem;
  padding: 0 2.5rem 0 0.625rem;
  padding-right: 40px;
  color: var(--main-text);
  font: 0.875rem/1.0625rem Barlow, sans-serif;
  font-size: 0.875rem;
}
@media screen and (max-width: 1200px) {
  .jq-selectbox__select {
    padding-right: calc(10px + 30 * (100vw - 320px) / 880);
  }
}
.jq-selectbox__select:hover, .jq-selectbox__select:active {
  background: transparent;
  box-shadow: none;
}

.jq-selectbox.focused .jq-selectbox__select {
  border: none;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.125rem;
  height: 100%;
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  border: none;
  content: url(../images/drop-arrow.svg);
  width: 0.75rem;
  height: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.catalog__view .jq-selectbox__trigger-arrow {
  left: 0rem;
}

.aside__form-options .jq-selectbox__trigger-arrow {
  left: 0px;
}
@media screen and (max-width: 1200px) {
  .aside__form-options .jq-selectbox__trigger-arrow {
    left: calc(28px + -28 * (100vw - 320px) / 880);
  }
}

.jq-selectbox li {
  color: rgba(0, 0, 0, 0.6);
  min-height: 1.1875rem;
  padding: 0.25rem 0.9375rem 0.375rem;
  font-size: 0.875rem;
}

.jq-selectbox li:hover,
.jq-selectbox li.selected {
  color: rgba(0, 0, 0, 0.6);
  background: rgba(107, 126, 172, 0.05);
}

.jq-selectbox__dropdown {
  top: 1.375rem;
  margin: 0.375rem 0 0;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #E0E0E0;
}

.filter-style.select-item.jq-selectbox__dropdown {
  top: 1.375rem;
  left: 0;
  margin: 0.375rem 0 0;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #E0E0E0;
}

.aside__form-item-drop-btnchecked .jq-checkbox {
  width: 3.9375rem;
  height: 1.5625rem;
  background-color: var(--background);
  border: none;
}
.aside__form-item-drop-btnchecked .jq-checkbox.checked {
  background-color: var(--accent);
  color: var(--white);
}
.aside__form-item-drop-btnchecked .jq-checkbox.checked ~ .aside__form-item-drop-btnchecked-text {
  color: var(--white);
}
.aside__form-item-drop-btnchecked .jq-checkbox.checked .jq-checkbox__div {
  display: none;
}

@media screen and (width < 440.01px) {
  .jq-selectbox__dropdown {
    width: 120%;
    left: -0.3125rem;
  }
}
.card-product__product-tabs {
  margin-bottom: 2.8125rem;
}
.card-product__inner {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
@media screen and (max-width: 1200px) {
  .card-product__inner {
    gap: calc(10px + 90 * (100vw - 320px) / 880);
  }
}
.card-product__box {
  max-width: 31.25rem;
  position: relative;
  padding-top: 4rem;
  text-align: center;
}
.card-product__box::before {
  font-size: 0.9375rem;
  letter-spacing: 0.12em;
  padding: 0.8125rem 1.5625rem;
  border-radius: 0.1875rem;
}
.card-product__price {
  font-family: "Barlow", sans-serif;
}
.card-product__price-old {
  color: var(--main-text);
  opacity: 0.6;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 1.0625rem 0 0.375rem 0;
  background-image: url(../images/old-line-card.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}
.card-product__price-new {
  color: var(--main-text);
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 0 1.0625rem 0;
}
.card-product__link {
  color: var(--accent);
  font-size: 0.9375rem;
}
.card-product__content {
  max-width: 35.625rem;
}
.card-product__code {
  margin: 0.625rem 0 1.25rem 0;
  font-size: 0.9375rem;
  color: var(--main-text);
  opacity: 0.6;
}
.card-product__user-links {
  margin-bottom: 3.125rem;
  margin-right: 1.875rem;
}
.card-product__user-favorite, .card-product__user-comparsion {
  margin-right: 1.875rem;
  display: inline-block;
}
.card-product__product-tabs-link {
  font-size: 1.25rem;
  opacity: 0.6;
}
.card-product__product-tabs-link.tabs__link--active {
  font-weight: 700;
  opacity: 1;
}
.card-product__list-desc {
  display: flex;
  justify-content: space-between;
  gap: 0.625rem;
  padding-bottom: 0.375rem;
  border-bottom: 1px solid rgba(47, 48, 53, 0.1);
  margin-bottom: 0.9375rem;
}
.card-product__list-desc dd {
  width: 7.8125rem;
}
.card-product__more {
  display: inline-block;
  border-bottom: 1px solid var(--accent);
}
.card-product__btn-buy {
  padding: 1rem 3.3125rem;
}
.card-product__tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background);
  padding: 1.3125rem 0rem 1.125rem;
  margin-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  .card-product__tabs {
    margin-bottom: calc(40px + 10 * (100vw - 320px) / 880);
  }
}
.card-product__tabs-link {
  font-size: 1.25rem;
  font-weight: 400;
  color: rgba(47, 48, 53, 0.6);
}
.card-product__tabs-link.tabs__link--active {
  color: var(--main-text);
  opacity: 1;
}
@media screen and (width < 1054.01px) {
  .card-product__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .card-product__product-tabs {
    display: none;
  }
  .card-product__content {
    order: -1;
  }
  .card-product__box .card-product__btn-buy {
    margin-top: 2.5rem;
    width: 100%;
  }
  .card-product__user-links {
    margin-right: 0;
  }
}
@media screen and (width < 440.01px) {
  .card-product__user-favorite {
    margin-right: 1.125rem;
  }
  .card-product__user-comparsion {
    margin-right: 1.125rem;
  }
}

.rate {
  display: inline-block;
}
@media screen and (width < 440.01px) {
  .rate svg {
    width: 1.4375rem;
    height: 1.4375rem;
  }
}

.btn-buy {
  background-color: var(--accent);
  color: var(--white);
  border-radius: 0.1875rem;
  text-align: center;
  font-size: 0.875rem;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  border: none;
}

.form-topline {
  margin-bottom: 50px;
}
@media screen and (max-width: 1200px) {
  .form-topline {
    margin-bottom: calc(40px + 10 * (100vw - 320px) / 880);
  }
}
.form-topline__label-search {
  font-size: 1.0625rem;
  color: rgba(47, 48, 53, 0.7);
}
.form-topline__input-search {
  margin-left: 18px;
  margin-right: 100px;
  padding: 0.5625rem 2.3125rem 0.5625rem 1.0625rem;
  border-radius: 0.1875rem;
  background: var(--background);
  border: none;
  width: 19.5625rem;
}
@media screen and (max-width: 1200px) {
  .form-topline__input-search {
    margin-left: calc(5px + 13 * (100vw - 320px) / 880);
  }
}
@media screen and (max-width: 1200px) {
  .form-topline__input-search {
    margin-right: calc(25px + 75 * (100vw - 1054px) / 146);
  }
}
.form-topline__label-radio {
  margin-left: 3.375rem;
  cursor: pointer;
  font-size: 1.0625rem;
  color: rgba(47, 48, 53, 0.7);
}
.form-topline__item {
  display: flex;
  align-items: center;
  padding: 1.25rem 0;
  border-bottom: 1px solid rgba(47, 48, 53, 0.1);
  font-size: 1.0625rem;
  color: rgba(47, 48, 53, 0.7);
}
.form-topline__item--noborder {
  border: none;
}
.form-topline__item--title {
  font-size: 1.25rem;
  color: var(--main-text);
}
.form-topline__address {
  width: 13.75rem;
  margin-right: 5rem;
}
.form-topline__workhours {
  width: 9.8125rem;
  margin-right: 6rem;
}
.form-topline__workhours span {
  display: block;
}
.form-topline__workhours span:first-child {
  margin-bottom: 0.5625rem;
}
.form-topline__hours {
  display: flex;
  justify-content: space-between;
}
.form-topline__avialable {
  width: 8.75rem;
  margin-right: 3.75rem;
}
.form-topline__num {
  width: 6.5rem;
}
.form-topline__btn {
  margin-left: auto;
}
.form-topline__btn-buy {
  padding: 0.625rem 2.5rem;
  font-size: 0.8125rem;
  letter-spacing: 0.12em;
}
@media screen and (width < 996.01px) {
  .form-topline label {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-bottom: 1.5625rem;
  }
  .form-topline__item.form-topline__item--title {
    display: none;
  }
  .form-topline__item {
    display: block;
  }
  .form-topline__item div {
    margin-bottom: 0.9375rem;
  }
}
@media screen and (width < 440.01px) {
  .form-topline__input-search {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.25rem;
    width: 18.125rem;
  }
}

.menu {
  display: none;
}
.menu__btn {
  display: none;
}
@media screen and (width < 980.01px) {
  .menu {
    position: absolute;
    display: block;
    background-color: var(--white);
    width: 15.1875rem;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    transform: translateY(-120%);
    transition: 0.3s ease;
    z-index: 12;
  }
  .menu__btn {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 27px;
    background: transparent;
    order: 1;
    border: none;
    padding: 0;
    z-index: 2;
    transition: 0.3s ease;
    border-radius: 0.1875rem;
  }
  .menu__btn:hover .menu__btn-line {
    background: var(--accent);
  }
  .menu__btn-line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--main-text);
    transition: 0.3s ease;
  }
  .menu__btn-line:nth-child(1) {
    top: 0px;
  }
  .menu__btn-line:nth-child(2) {
    top: 9px;
  }
  .menu__btn-line:nth-child(3) {
    top: 9px;
  }
  .menu__btn-line:nth-child(4) {
    top: 18px;
  }
  .menu-open .menu__btn-line:nth-child(1) {
    transform: scaleX(0);
  }
  .menu-open .menu__btn-line:nth-child(2) {
    transform: rotate(45deg);
  }
  .menu-open .menu__btn-line:nth-child(3) {
    transform: rotate(-45deg);
  }
  .menu-open .menu__btn-line:nth-child(4) {
    transform: scaleX(0);
  }
  .menu-open.menu {
    transform: translateY(0%);
  }
}
.menu-mobile__item {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.menu-mobile__link {
  padding-left: 3.3125rem;
  padding-top: 2.25rem;
}
.menu-mobile__link span {
  display: inline-block;
}
.menu-mobile__location {
  display: block;
  padding: 4.0625rem 0.625rem 8.5rem 2.75rem;
  color: var(--main-text);
  font-weight: 700;
  width: 11.25rem;
}
.menu-mobile__location.header__location {
  margin-right: 0;
}
.menu-mobile__location.header__location::before {
  display: none;
}
.menu-mobile__img {
  position: absolute;
  left: 0.6875rem;
  bottom: 0;
}
.menu-mobile__wrapper {
  display: none;
}
@media screen and (width < 980.01px) {
  .menu-mobile__wrapper {
    display: block;
    background-color: var(--background);
    font-weight: 700;
    padding: 0.875rem 0 0.875rem 0.9375rem;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    overflow-x: scroll;
  }
  .menu-mobile__wrapper .header__top-menu-list {
    width: 28.125rem;
  }
}/*# sourceMappingURL=style.css.map */