.btn-buy {
  background-color: var(--accent);
  color: var(--white);
  border-radius: rem(3);
  text-align: center;
  font-size: rem(14);
  letter-spacing: 1.68px;
  text-transform: uppercase;
  border: none;
}