.card-product {

  &__product-tabs {
    margin-bottom: rem(45);
  }


  &__inner {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    @include adaptivevalue(gap, 100, 10, 1200, 320, 1);
  }

  &__box {
    max-width: rem(500);
    position: relative;
    padding-top: rem(64);
    text-align: center;

    &::before {
      font-size: rem(15);
      letter-spacing: .12em;
      padding: rem(13) rem(25);
      border-radius: rem(3);
    }
  }

  &__price {
    font-family: 'Barlow', sans-serif;

    &-old {
      color: var(--main-text);
      opacity: .6;
      font-size: rem(30);
      font-weight: 400;
      margin: rem(17) 0 rem(6) 0;
      background-image: url(../images/old-line-card.svg);
      background-repeat: no-repeat;
      background-position: center;
      display: inline-block;
    }

    &-new {
      color: var(--main-text);
      font-size: rem(40);
      font-weight: 700;
      margin: 0 0 rem(17) 0;
    }
  }

  &__link {
    color: var(--accent);
    font-size: rem(15);
  }




  &__content {
    max-width: rem(570);
  }

  &__code {
    margin: rem(10) 0 rem(20) 0;
    font-size: rem(15);
    color: var(--main-text);
    opacity: .6;
  }

  &__user-links {
    margin-bottom: rem(50);
    margin-right: rem(30);
  }

  &__user-favorite,
  &__user-comparsion {
    margin-right: rem(30);
    display: inline-block;
  }


  &__product-tabs-link {
    font-size: rem(20);
    opacity: .6;
  }

  &__product-tabs-link.tabs__link--active {
    font-weight: 700;
    opacity: 1;
  }




  &__list-desc {
    display: flex;
    justify-content: space-between;
    gap: rem(10);
    padding-bottom: rem(6);
    border-bottom: 1px solid rgba(#2F3035, .1);
    margin-bottom: rem(15);

    dd {
      width: rem(125);
    }
  }


  &__more {
    display: inline-block;
    border-bottom: 1px solid var(--accent);
  }

  &__btn-buy {
    padding: rem(16) rem(53);
  }








  &__tabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background);
    padding: rem(21) rem(0) rem(18);
    @include adaptivevalue(margin-bottom, 50, 40, 1200, 320, 1);

    &-link {
      font-size: rem(20);
      font-weight: 400;
      color: rgba(#2F3035, .6);
    }
  }


  &__tabs-link.tabs__link--active {
    color: var(--main-text);
    opacity: 1;
  }

  @media screen and (width < 1054.01px) {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__product-tabs {
      display: none;
    }

    &__content {
      order: -1;
    }

    &__box &__btn-buy {
      margin-top: rem(40);
      width: 100%;
    }

    &__user-links {
      margin-right: 0;
    }
  }

  // @media screen and (width < 996.01px) {}

  @media screen and (width < 440.01px) {

    &__user-favorite {
      margin-right: rem(18);
    }

    &__user-comparsion {
      margin-right: rem(18);
    }
  }

}


.rate {
  display: inline-block;

  @media screen and (width < 440.01px) {
    & svg {
      width: rem(23);
      height: rem(23);
    }


  }
}