.catalog {
  @include adaptivevalue(padding-bottom, 100, 40, 1200, 320, 1);

  & .products {
    display: none;
  }

  &__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptivevalue(margin-bottom, 50, 40, 1200, 320, 1);

    // &-list {
    //   display: flex;
    //   align-items: center;
    //   gap: rem(8);
    // }

    &-btn {
      padding: rem(5) rem(22);
      font-size: 14px;
      opacity: 0.7;
      border-radius: rem(3);
      background-color: var(--background);
    }
  }

  &__view {
    display: flex;
    align-items: center;

    &-button {
      opacity: .3;

      &--active {
        opacity: 1;
      }
    }

    &-btngrid {
      width: rem(26);
      height: rem(21);
    }

    &-btnline {
      width: rem(25);
      height: rem(19);
    }
  }



  &__view button + button {
    margin-left: rem(10);
  }

  &__inner {
    display: flex;
  }

  &__aside {
    min-width: rem(291);
    margin-right: rem(10);
    @include transition ($transition-property: all);
  }

  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: rem(30) rem(3);
    margin-bottom: rem(70);

    & .products__card {
      margin-right: 0;
    }
  }

  &__filter-item {
    display: inline-block;
    margin-right: rem(8);
  }

  &__pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: rem(4);

    &-item {
      padding: rem(6) rem(12);
      border: rem(2) solid transparent;
      color: var(--gray);
      @extend %Barlow-400;
      font-size: rem(18);
    }

    &-item.active {
      border: rem(2) solid var(--accent);
      color: var(--accent);
    }

  }

  @media screen and (width < 790.01px) {
    &__inner {
      display: block;
    }

    &__aside {
      display: none;
    }
  }

  @media screen and (width < 770.01px) {
    &__view {
      gap: rem(20);
    }

    &__filter {
      display: block;
    }
  }

  @media screen and (width < 440.01px) {

    & .products {
      display: block;
    }

    &__filter-inner {
      overflow-x: scroll;
    }

    &__pagination {
      gap: rem(2);
    }
  }

}

.filter-style.select-item {
  margin-right: rem(34);
  padding: rem(7) rem(10) rem(7) rem(20);
  @extend %SFProDisplay-400;
  font-size: rem(14);
  border: 1.5px solid #D7D9DF;

  @media screen and (width < 770.01px) {
    margin: rem(15) 0;
  }

  @media screen and (width < 440.01px) {
    padding: rem(5);
  }


}