.form-topline {
  @include adaptivevalue(margin-bottom, 50, 40, 1200, 320, 1);

  &__label-search {
    font-size: rem(17);
    color: rgba(#2F3035, .7);
  }

  &__input-search {
    @include adaptivevalue(margin-left, 18, 5, 1200, 320, 1);
    @include adaptivevalue(margin-right, 100, 25, 1200, 1054, 1);
    padding: rem(9) rem(37) rem(9) rem(17);
    border-radius: rem(3);
    background: var(--background);
    border: none;
    width: rem(313);
  }

  &__label-radio {
    margin-left: rem(54);
    cursor: pointer;
    font-size: rem(17);
    color: rgba(#2F3035, .7);
  }

  &__item {
    display: flex;
    align-items: center;
    padding: rem(20) 0;
    border-bottom: 1px solid rgba(#2F3035, .1);
    font-size: rem(17);
    color: rgba(#2F3035, .7);

    &--noborder {
      border: none;
    }

    &--title {
      font-size: rem(20);
      color: var(--main-text);
    }
  }


  &__address {
    width: rem(220);
    margin-right: rem(80);
  }

  &__workhours {
    width: rem(157);
    margin-right: rem(96);

    span {
      display: block;

      &:first-child {
        margin-bottom: rem(9);
      }
    }
  }

  &__hours {
    display: flex;
    justify-content: space-between;
  }

  &__avialable {
    width: rem(140);
    margin-right: rem(60);
  }

  &__num {
    width: rem(104);
  }

  &__btn {
    margin-left: auto;
  }

  &__btn-buy {
    padding: rem(10) rem(40);
    font-size: rem(13);
    letter-spacing: .12em;
  }

  @media screen and (width < 996.01px) {
    label {
      display: block;
      width: 100%;
      margin-left: 0;
      margin-bottom: rem(25);
    }

    &__item.form-topline__item--title {
      display: none;
    }

    &__item {
      display: block;

      div {
        margin-bottom: rem(15);
      }
    }

  }

  @media screen and (width < 440.01px) {
    &__input-search {
      display: block;
      margin-left: 0;
      margin-right: 0;
      margin-top: rem(20);
      width: rem(290);
    }
  }

}