.hero {

  &__inner {
    display: flex;
    justify-content: space-between;
    @include adaptivevalue(gap, 36, 43, 1200, 320, 1);
  }

  &__slider {
    max-width: rem(870);
    position: relative;

    &-img {
      object-fit: cover;
      min-height: rem(400);
    }


    &-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;

      &-next {
        right: rem(20);
      }

      &-prev {
        left: rem(20);
      }

      @include transition ($transition-property: color);

      @media (any-hover: hover) {
        &:hover {
          color: var(--accent);
        }
      }
    }
  }

  @media screen and (width < 1160.01px) {
    &__inner {
      justify-content: space-around;
    }

    &__slider {
      max-width: rem(600);

    }

    &__slider-img {
      max-width: rem(600);
    }
  }

  @media screen and (width < 880.01px) {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__slider {
      max-width: 100%;
    }

    &__slider-img {
      max-width: 100%;
    }
  }

  @media screen and (width < 600.01px) {

    &__slider-img {
      min-height: rem(200);
    }

    & .container {
      padding: 0;
    }
  }

  @media screen and (width < 440.01px) {
    &__slider-img {
      min-height: rem(164);
    }
  }
}