.search {

  &__tabs {
    margin-bottom: rem(25);

    &-link {
      display: inline-block;
    }

    &-link.tabs__link {
      font-size: rem(20);
      padding: rem(11) rem(26) rem(12);
      @include transition ($transition-property: color);

      @media (any-hover: hover) {
        &:hover {
          color: var(--accent);
        }
      }

      &--active.tabs__link {
        border-radius: rem(5);
        background-color: var(--background);
        font-weight: 700;
      }
    }
  }

  &__content {

    &-form {
      display: flex;
    }

    &-input {
      padding: rem(15) rem(20);
      max-width: rem(1025);
      width: 100%;
      border-radius: 3px;
      background: var(--background);
      border: none;
      font-size: rem(16);

      &::placeholder {
        color: #656464;
      }
    }

    &-btn {
      padding: rem(17) rem(40) rem(16);
      margin-left: rem(-3);
      color: var(--white);
      background-color: var(--accent);
      border-radius: 3px;
      font-size: rem(14);
      font-weight: 700;
      letter-spacing: rem(1.68);
      text-transform: uppercase;
    }
  }

  @media screen and (width < 980.01px) {
    .search__tabs-link.tabs__link--active.tabs__link {
      font-weight: 600;
      background-color: var(--white);
    }
  }



  @media screen and (width < 600.01px) {
    &__content-form {
      position: relative;
    }

    &__content-input {
      padding-right: rem(50);
    }

    &__content-btn {
      position: absolute;
      font-size: 0;
      line-height: 0;
      padding: rem(13);
      background-image: url(../images/search.svg);
      background-repeat: no-repeat;
      background-position: center;
      width: rem(24);
      height: rem(24);
      right: rem(16);
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;

    }
  }
}