.slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);


  & button {
    font-size: 0;
    width: rem(11);
    height: rem(11);
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--white);
  }
}

.hero__slider .slick-dots {
  bottom: rem(60);
  gap: rem(9);
}


ul > .slick-active button {
  background-color: var(--white);
}